.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Light gray background to match */
  }
  
  .Login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Set a fixed width for consistency */
  }
  
  .logo-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .Login-title {
    font-family: 'Poppins', sans-serif;
    color: #003366; /* Navy blue to match the theme */
  }
  
  .Login-input-group {
    margin-bottom: 15px;
  }
  
  .Login-label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
  }
  
  .Login-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .Login-button {
    width: 100%;
    padding: 10px;
    background-color: #003366; /* Light yellow to match the theme */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .Login-footer {
    text-align: center;
    margin-top: 15px;
  }
  
  .Login-link {
    color: #003366; /* Navy blue link */
  }
  